MONGO_URI=mongodb+srv://addisamelse_db_user:ab26032011@cluster0.itkanfk.mongodb.net/?appName=Cluster0
BOT_TOKEN= 8722297780:AAFoDXr0L58fI4l0pDXsv4K6BLir1tR8mV0
ADMIN_ID=2134795751
ADMIN_CHAT_ID=2134795751
WEB_APP_URL=https://your-render-service.onrender.com
